{% include "navbar.html" %}
{% include "add_bootstrap.html" %}

<div class="container">
{% load i18n %}
{% load allauth %}
{% block content %}
    {% element h1 %}
        {% trans "Set Password" %}
    {% endelement %}
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            <button type="submit" class="btn btn-success">Установить пароль</button>
        {% endslot %}
    {% endelement %}
{% endblock content %}
</div>
