{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.user }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
{% include "user_profile/navbar.html" %}
    <div class="profile">
        <h1 id="username">Hi, {{ request.user }}</h1>
        <p id="cartTotal">Сумма: <b>{% sum_basket request user %} ₽</b>
            <a onclick="ClearBasket()" style="text-decoration: none; color: red" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3"
                     viewBox="0 0 20 20">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                </svg>
            </a>
        </p>

        <div class="products">
            {% for item in user.product_list %}
            <div class="product-card">
                <img src="{{ item.photos.first.product_photo.url }}" alt="product_photo">
                <h2>{{ item.title }}</h2>
                <p>Цена:
                    {% if item.discount == 0.00 %}
                    {{ item.price }}
                    {% else %}
                    <del>{{ item.price }}</del>
                    {{ item.price_with_discount }}
                    {% endif %} ₽
                </p>
                <p>Категория: {{ item.subcategory }}</p>
                <p>Подкатегория: {{ item.subcategory.category }}</p>
                <div class="quantity">
                    <button onclick="ChangeCountFromBasket('{{ item.slug }}', '-')" class="btn">-</button>
                    <span>{% get_count request item.slug %}</span>
                    <button onclick="ChangeCountFromBasket('{{ item.slug }}', '+')" class="btn">+</button>
                    <button onclick="deleteProductFromBasket('{{ item.slug }}')" class="btn-delete">Delete</button>
                </div>
            </div>
            {% endfor %}
        </div>

{% if user.product_list.paginator.num_pages > 1 %}
        {% block paginator %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <a class="page-link" href="?page=1">В начало</a>
        <li class="page-item">

            {% if user.product_list.has_previous %}
            <a class="page-link" href="?page={{ user.product_list.previous_page_number }}">Назад</a>
            {% else %}

            {% endif %}
        </li>
        {% if user.product_list.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ user.product_list.next_page_number }}">Далее</a></li>
        {% endif %}

        <a class="page-link" href="?page={{ user.product_list.paginator.num_pages }}">В конец</a>
    </ul>
    <p class="page-item" align="center">
        Страница номер {{ user.product_list.number }} из {{ user.product_list.paginator.num_pages }}
    </p>
</nav>
        {% endblock %}
{% endif %}
    </div>

<script src="{% static 'js/basket.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
