.categories {
    display: flex;
    justify-content: center;
}

.category {
    cursor: pointer;
    font-size: 36px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.category-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.category-title {
    font-size: 36px;
    margin-bottom: 10px;
}

.subcategory-list {
    display: none;
    list-style-type: none;
    padding-left: 0;
}

.subcategory-list li {
    margin-bottom: 20px;
}

.subcategory-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.subcategory-title {
    font-size: 24px;
}

a {
    text-decoration: none;
}