    .card {
    max-width: 60%;
    margin: 0 auto;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.read-more {
    float: right;
    margin-top: 5px;
}

.collapse {
    display: none;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}