      * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.profile {
    text-align: center;
}

.profile h1 {
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 15vw;
}

.product-card img {
    height: 18vh;
    object-fit: cover;
    border-radius: 5px;
}

.product-card h2 {
    margin-top: 10px;
}

.product-card p {
    font-style: italic;
}

.quantity {
    margin-top: 10px;
}

.btn {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.btn-delete {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

a {
    text-decoration: none;
}