{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.user }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile_style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
  a {
    text-decoration: none;
  }
  .page {
    display: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  .active {
    display: block;
  }
  .button {
    flex: 0.1;
    padding: 10px 20px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    transition: background-color 0.5s;
  }
  .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  .button:hover {
    background-color: #e0e0e0;
  }
  .button.active {
    background-color: #0078D7;
    color: white;
    border: 1px solid #0056a3;
  }
</style>
</head>
<body>
{% include "navbar.html" %}
{% include "filters.html" %}<br>

<div class="input-group" id="buttons" style="margin-left: 38vw">
  <button class="button active" onclick="switchPage('page1', this)">Корзина</button>
  <button class="button" onclick="switchPage('page2', this)">Избранное</button>
</div>


<div id="page1" class="page active">
     <div class="profile">
        {% if user.0 %}
            <p id="cartTotal">Сумма: <b>{{ user.0.get_sum_products }} ₽</b>

            <a onclick="deleteProductFromBasket('__all__')" style="text-decoration: none; color: red" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3"
                     viewBox="0 0 20 20">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                </svg>
            </a>
            </p>
        {% endif %}

        <div class="products">
            {% for item in user %}
            <div class="product-card">
                <img src="{{ item.product.photo.url }}" alt="product_photo">
                <h2><a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></h2>
                <p>Цена:
                    {% if item.product.discount == 0.00 %}
                        {{ item.product.price }}
                    {% else %}
                        <del>{{ item.product.price }}</del>
                        {{ item.product.price_with_discount }}
                    {% endif %} ₽
                </p>
                <p>Категория: <a href="{{ item.product.subcategory.get_absolute_url }}">{{ item.product.subcategory }}</a></p>
                <p>Подкатегория: <a href="{{ item.product.subcategory.category.get_absolute_url }}">{{ item.product.subcategory.category }}</a></p>
                <div class="quantity">
                    <button onclick="ChangeCountFromBasket('{{ item.product.slug }}', '-')" class="btn">-</button>
                    <span>{{ item.count }}</span>
                    <button onclick="ChangeCountFromBasket('{{ item.product.slug }}', '+')" class="btn">+</button>
                    <button onclick="deleteProductFromBasket('{{ item.product.slug }}')" class="btn-delete">Убрать</button>
                </div>
            </div>
            {% endfor %}
        </div>

{% include 'paginator.html' %}
    </div>
</div>

<div id="page2" class="page">
            <div class="products">
            {% for item in request.user.favorites.all %}
                <div class="product-card">
                    <img src="{{ item.photo.url }}" alt="product_photo">
                    <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
                    <p>Цена:
                        {% if item.discount == 0.00 %}
                            {{ item.price }}
                        {% else %}
                            <del>{{ item.price }}</del>
                            {{ item.price_with_discount }}
                        {% endif %} ₽
                    </p>
                    <p>Категория: <a href="{{ item.subcategory.get_absolute_url }}">{{ item.subcategory }}</a></p>
                    <p>Подкатегория: <a href="{{ item.subcategory.category.get_absolute_url }}">{{ item.subcategory.category }}</a></p>
                    <div class="quantity">
                        <button onclick="addProductToFavorites('{{ item.slug }}')" class="btn-delete">Убрать</button>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>


<script src="{% static 'js/favorites.js' %}"></script>
<script src="{% static 'js/basket.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>