{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_register.css' %}">
</head>
<body style="background-color: #1e1e1e; color: white">

<a style="color: white" align="left" href="{% url 'products:main_page' %}">
  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
  </svg>
</a>

<div align="center">
<form id="registrationForm">
  {% csrf_token %}
  <div>
    <label for="id_username" style="margin-right: 1.2%">Имя:</label>
    <input class="input-field" type="text" id="id_username" name="username" required>
    <br><span id="usernameError" class="error"></span>
  </div>

  <div>
    <label for="id_password">Пароль:</label>
    <input placeholder="не менее 8 символов" class="input-field" type="password" id="id_password" name="password" required>
    <br><span id="passwordError" class="error"></span>
  </div>

  <div>
    <label for="id_email" style="margin-right: 0.5%">Почта:</label>
    <input class="input-field" type="email" id="id_email" name="email" required>
    <br><span id="emailError" class="error"></span>
  </div>



  <button class="bubbly-button" type="submit">Зарегистрироваться</button>
</form>
</div>

<script>
  var animateButton = function(e) {

  e.preventDefault;
  //reset animation
  e.target.classList.remove('animate');

  e.target.classList.add('animate');
  setTimeout(function(){
    e.target.classList.remove('animate');
  },700);
};

var bubblyButtons = document.getElementsByClassName("bubbly-button");

for (var i = 0; i < bubblyButtons.length; i++) {
  bubblyButtons[i].addEventListener('click', animateButton, false);
}
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="{% static 'js/register.js' %}"></script>

</body>
</html>