{% load tags %}
<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
    Фильтры
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasExampleLabel">Фильтры</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="filters" action="{% url 'products:products' %}" method="get" enctype="multipart/form-data" class="post-form">
            {% csrf_token %}
            <b>Цена:</b>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Минимальная" id="min_price" name="min_price">
                <input type="text" class="form-control" placeholder="Максимальная" name="max_price">
            </div>

            <b>Сортировать по:</b>
            <select name="sorting" class="form-select" aria-label="Default select example">
                <option value="-id">Сначала старые</option>
                <option value="id" selected>Сначала новые</option>
                <option value="-price">Сначала дорогие</option>
                <option value="price">Сначала дешёвые</option>
                <option value="-discount">Самая большая скидка</option>
            </select>


            <b>Категория</b>
            <select name="category" class="form-select" aria-label="Default select example">
                <option value=Null selected>-----------</option>
                {% get_categories as categories %}
                {% for item in categories %}
                    <option value="{{ item.slug }}">{{ item.title }}</option>
                {% endfor %}
            </select>


            <b>Подкатегория</b>
            <select name="subcategory" class="form-select" aria-label="Default select example">
                <option value=Null selected>-----------</option>
                {% get_subcategories as subcategories %}
                {% for item in subcategories %}
                    <option value="{{ item.slug }}">{{ item.title }}</option>
                {% endfor %}
            </select>

        <br>
        <button class="btn btn-dark" type="submit">Подтвердить</button>
        </form>
    </div>
</div>