{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>Информация о продукте</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_detail_style.css' %}">
    {% include "add_bootstrap.html" %}
</head>
<body style="background-color:#f5f5f5">
{% include "navbar.html" %}


<div id="product-info">
    <div id="comments">
        <h5>Ответы на комментарий:</h5>

    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    fetch('/user/get_answers/{{ comment_id }}')
    .then(response => response.json())
    .then(data => {
        const nextPage = data.next;
        const previousPage = data.previous;
        const productList = document.getElementById('comments');
        data.results.forEach(comment => {
            const div = document.createElement('div');

            div.innerHTML =
            `
            <div class="product-details">
                <div style="margin-top: 3vh;">
                    <b>${comment.author.username}</b>
                    {% if request.user.access_write_comments and request.user.is_authenticated %}
                        <span style="float: right"><button class="btn btn-warning" onclick="CreateComplain(${comment.id})">Пожаловаться</button></span>
                    {% endif %}
                    <br>
                    <span style="margin-left: 5px">${comment.text}</span> <br>
                    <a style="margin-left: 5px" href="/show_answers/${ comment.id }">Посмотреть ${ comment.cnt_answers } ответов</a> <br>


                    {% if request.user.access_write_comments and request.user.is_authenticated %}
                        <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample${comment.id}" aria-expanded="false" aria-controls="collapseExample">
                            Ответить
                        </button>


                        <div class="collapse" id="collapseExample${comment.id}">
                          <div class="card card-body">
                            <form action="{% url 'users:create_comment' product_slug=slug %}" style="margin-top: 10vh" enctype="multipart/form-data" method="post">
                                {% csrf_token %}
                                <input hidden="hidden" value="${comment.id}" name="comment_id">
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Текст ответа</label>
                                    <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-success">Оставить ответ</button>
                            </form>
                          </div>
                        </div>
                    {% endif %}

                </div>
            </div>
            `

            productList.appendChild(div);
        });
        if(previousPage)
        {
            const center = document.createElement('center');
            center.innerHTML = `<a href="${previousPage}">Предыдущая страница</a>`;
            productList.appendChild(center);
        }
        if(nextPage)
        {
            const center = document.createElement('center');
            center.innerHTML = `<a href="${nextPage}">Следующая страница</a>`;
            productList.appendChild(center);
        }
    })
    .catch(error => console.error('Error fetching data:', error));
});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/complains.js' %}"></script>
<script src="{% static 'js/favorites.js' %}"></script>
<script src="{% static 'js/basket.js' %}"></script>
</body>
</html>
