{% load tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ product.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/detail_style.css' %}">
</head>
<body>
{% include "products/navbar.html" %}
<div class="container">


<h3>{{ product.title }} / Цена:
    {% if product.discount == 0.00 %}
        {{ product.price }}
    {% else %}
        <del>{{ product.price }}</del> {{ product.price_with_discount }}
    {% endif %} рублей

    {% if request.user.is_authenticated %}
            {% is_favorite request product.id as is_favorite %}
            {% if is_favorite %}
                <a style="color: red" href="#" onclick="addProductToFavorites('{{product.id}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                        viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                    </svg>
                </a>
            {% else %}
                <a style="color: red" href="#" onclick="addProductToFavorites('{{product.id}}')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart"
                    viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg>
                </a>
            {% endif %}

    {% endif %}
</h3>

<h5>{{ product.subcategory }}  ({{ product.subcategory.category }})</h5>
<br>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      {% for item_photo in product.photos.all %}
            <div class="carousel-item active" align="center">
                <img aria-hidden="true" src="{{ item_photo.product_photo.url }}" class="d-block" width="90%" height="700px">
            </div>
        {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>








{% if request.user.is_authenticated %}
<form id="create-comment-form" method="post" enctype="multipart/form-data" class="post-form">
    {% csrf_token %}
    <div class="form-group">
        <label for="comment-text">Текст комментария:</label>
        <textarea placeholder="Текст комментария" class="form-control" id="comment-text" name="text" required></textarea>
    </div>
    <div class="form-group">
        <label for="comment-estimation">Оценка:</label>
        <select class="form-control" id="comment-estimation" name="estimation" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
    <input type="hidden" name="product_slug" value="{{ product.slug }}">
    <button type="button" class="btn btn-primary" onclick="submitForm()">Оставить отзыв</button>
</form>
{% endif %}


{% get_comments product.title as comments %}

{% for item in comments %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ item.author }}</h5>
            {% length item.text as len %}
            {% if len > 100 %}
            <p class="card-text">{{ item.text }}
                    <a href="#" class="read-more" data-bs-toggle="collapse" data-bs-target="#{{ item.id }}-collapse">Читать дальше</a>
            </p>
                <div class="collapse" id="{{ item.id }}-collapse">
                    <p class="card-text">{{ item.text }}</p>
                </div>
            {% else %}
                <p class="card-text">{{ item.text }}</p>
            {% endif %}


            <p class="card-text">Оценка: {{ item.estimation }}</p>
        </div>
    </div>
{% endfor %}

</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/comment_script' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>