{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <a class="page-link" href="?page=1">В начало</a>
        <li class="page-item">

            {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Назад</a>
            {% else %}

            {% endif %}
        </li>
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Далее</a></li>
        {% endif %}

        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">В конец</a>
    </ul>
    <p class="page-item" align="center">
        Страница номер {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </p>
</nav>
{% endif %}